

.sidebar{
  width:350px!important;

}

.sidebar li{
  margin-left:5px!important;
  line-height:1;
  border-bottom:1px solid #484848;
}
.dropdown-menu{
  background-color:#e4e4e4;
  width:250px!important;
  font-size:14px;
  font-weight:bold!important;
  
}


.sticky-footer{
  width:calc(100% - 21.1%)!important;
}
.online{
  font-size:8.5px;
}

.complaint_qty{
  font-size:12px;
  float:right;
}

